.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0 0 0 30px;
    font-size: 28px;
}

.movieRow__listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow__list {
    transition: all .5s ease-in-out;
}

.movieRow__item {
    cursor: pointer;
    display: inline-block;
    width: 150px;
}

.movieRow__item img {
    transform: scale(0.9);
    transition: all .2s ease-in-out;
    width: 100%;
}

.movieRow__item img:hover {
    transform: scale(1);
}

.movieRow__left, 
.movieRow__right {
    align-items: center;
    background-color: rgba(3, 3, 3, 0.6);
    cursor: pointer;
    display: flex;
    height: 225px;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 40px;
    z-index: 99;
    transition: all .3s ease-in-out;
}

.movieRow__left {
    left: 0;
}

.movieRow__right {
    right: 0;
}

.movieRow:hover .movieRow__left,
.movieRow:hover .movieRow__right {
    opacity: 1;
}

@media(max-width: 769px) {
    .movieRow__left,
    .movieRow__right {
        opacity: 1;
    }
}